/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Xanh+Mono:ital@0;1&display=swap');

@font-face {
	font-family: "Maragsa";
	src: url("../fonts/Maragsa-Display.otf") format("opentype");
}

:root {
	--root-size: 1.2rem;
	--main-dark-color: #0F1314;
	--main-white-color: #edebeb;
	--green-color: #62FF24; 
	--magenta-color: #D15DDC;
	--blue-color: #7CC6FF;
	--yellow-color: #FFFB63;
	--orange-color: #FC5A12;
	--border-style: 2px dotted var(--main-white-color);
}

body {
	background-color: var(--main-dark-color);
	color: var(--main-white-color); 
	overflow-x: hidden;
	font-family: "Space Grotesk", serif;
	font-weight: 300;
	font-style: normal;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

/* NAVIGATION */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 0.5rem;
	border-bottom: var(--border-style);
	background-color: var(--main-dark-color);
  }
  
  nav ul li {
	font-size: calc(var(--root-size) * 0.5);
	font-weight: 200;
  }
  
  nav ul li:first-child {
	margin-right: auto;
  }
  
  nav ul li a {
	display: block;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
  }

  nav ul li a:hover{
	cursor: pointer;
	opacity: 50%;
  }

  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 0.5rem;
	border-bottom: var(--border-style);
	background-color: var(--main-dark-color);
  }
  
  nav ul li {
	font-size: calc(var(--root-size) * 0.5);
	font-weight: 200;
  }
  
  nav ul li:first-child {
	margin-right: auto;
  }
  
  nav ul li a {
	display: block;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
  }
  
  nav {
	position: relative;  
  }

/* DETAILS (ARTICLE INFO) */
details > summary {
    list-style-type: none; 
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}

details > summary::before {
    content: '→'; 
    position: absolute;
    left: -1.5rem; 
    transition: transform 0.3s ease; 
    transform-origin: center;
}

details[open] > summary::before {
    transform: rotate(90deg); 
}

details[open] > p {
    margin-top: 1rem;
}
  summary {
	font-weight: 500;
  }

  summary:hover{
	cursor: pointer;
  }

  .end {
	border-bottom: var(--border-style);
	padding: 1rem;
  }

  details p:first-of-type {
	padding-top: 1rem;
  }

  /* TEXT LINKS AND BOLS */
  .word-emphasis {
	font-weight: 700;
  }

  .text-link{
	text-decoration: underline dotted;
  }

  .text-link:hover{
	opacity: 50%;
  }

  .italic {
	font-style: italic;
  }



  
  