/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Pinyon+Script&display=swap');

@font-face {
	font-family: "Maragsa";
	src: url("/fonts/Maragsa-Display.otf") format("opentype");
}

:root {
	--root-size: 1.2rem;
	--main-bg-color: #0F1314;
	--main-text-color: #edebeb;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color); 
}

/* TITLE */
header {
	position: relative;
}

/* Design */
.line-design {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 2.5);
    color: var(--main-bg-color);
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	margin-top: 1rem;
}

.folded-paper-container {
    background: #D15DDC;
    position: absolute;
    left: 50%;
    top: 10vh;
    display: block;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: calc(var(--root-size) * 15);
    height: calc(var(--root-size) * 5);
    transform: translateX(-50%) rotate(5deg); 
    z-index: 1;
}

.folded-paper-container:before {
    content: "";
    position: absolute;
    top: -1;
    right: -1;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #FFFB63 var(--main-bg-color);
    border-radius: 0 0 0 10px;
}

/* Thinking */
.line-thinking {
    font-family: "Maragsa", serif; 
    font-size: calc(var(--root-size) * 2.5);
    color: var(--main-bg-color);
	/* color: white; */
    text-align: center;
    position: absolute;
	/* top: 25vh;  */
	margin-top: 2.5rem;
	margin-left: 6.7rem;
    transform: translateX(-50%);
	z-index: 4;
}

.three-ellipses-container {
    position: absolute;
    left: 20%;
    z-index: 2;
	top: 23vh;
}

.ellipses-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.ellipse {
    width: 100px;
    height: 130px;
    border-radius: 50%;
    background-color: #7CC6FF;
    position: absolute;
}

.ellipse:nth-child(1) {
    z-index: 1;
    left: 0;
}

.ellipse:nth-child(2) {
    z-index: 2;
    left: 60px;
}

.ellipse:nth-child(3) {
    z-index: 3;
    left: 120px;
}

