/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Xanh+Mono:ital@0;1&display=swap');

@font-face {
	font-family: "Maragsa";
	src: url("/fonts/Maragsa-Display.otf") format("opentype");
}

:root {
	--root-size: 1.2rem;
	--main-bg-color: #0F1314;
	--main-text-color: #edebeb;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color); 
	overflow-x: hidden;
}

/* TITLE */
header {
	position: relative;
}

/* Design */
.line-design {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 2.5);
    color: var(--main-bg-color);
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	margin-top: 1rem;
}

.folded-paper-container {
    background: #D15DDC;
    position: absolute;
    left: 50%;
    top: 10vh;
    display: block;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: calc(var(--root-size) * 15);
    height: calc(var(--root-size) * 5);
    transform: translateX(-50%) rotate(5deg); 
    z-index: 1;
}

.folded-paper-container:before {
    content: "";
    position: absolute;
    top: -1;
    right: -1;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #FFFB63 var(--main-bg-color);
    border-radius: 0 0 0 10px;
}

/* Thinking */
.line-thinking {
    font-family: "Maragsa", serif; 
    font-size: calc(var(--root-size) * 2.8);
    color: var(--main-bg-color);
    text-align: center;
    position: absolute;
	margin-top: 2.7rem;
	margin-left: 1.5rem;
    /* transform: translateX(-50%); */
	z-index: 4;
}

.three-ellipses-container {
    position: absolute;
    left: 25%;
    z-index: 2;
	top: 22vh;
}

.ellipses-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.ellipse {
    width: 100px;
    height: 130px;
    border-radius: 50%;
    background-color: #7CC6FF;
    position: absolute;
}

.ellipse:nth-child(1) {
    z-index: 1;
    left: 0;
}

.ellipse:nth-child(2) {
    z-index: 2;
    left: 70px;
}

.ellipse:nth-child(3) {
    z-index: 3;
    left: 140px;
}

/* Is */
.star-container {
	position: absolute;
	top: 40vh;
	left: 35%;
	transform: translateX(-50%);
	z-index: 5;
  }
  
  .star8 {
	background: #FC5A12;
	width: 80px;
	height: 80px;
	position: relative;
	transform: rotate(20deg); /* Rotate to create the first set of points */
  }
  
  .star8:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: #FC5A12;
	transform: rotate(45deg); /* Rotate to create the second set of points */
  }
  
  /* Styling the "is" text inside the star */
  .line-is {
	position: absolute;
	z-index: 1; /* Ensure the text is above the star shape */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Center the text inside the star */
	color:  var(--main-bg-color);
	font-size: calc(var(--root-size) * 2);
	margin: 0; /* Remove any default margin for h1 */
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: normal;
  }

