.desktop-wrapper{
  display: none;
}

nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	align-items: center; 
	border-bottom: var(--border-style); 
	text-align: center;
  }
  
  nav p {
	margin: 0;
	padding: 1rem; 
	position: relative; 
	font-size: calc(var(--root-size) * 0.5);
  }
  
  nav p::after {
	content: ""; 
	position: absolute; 
	top: 0;
	right: 0; 
	width: 2px;
	height: 100%; 
	border-right: var(--border-style);
  }
  
  nav p:last-child::after {
	display: none; 
  }
  
  nav a {
	text-decoration: none;
	font-size: calc(var(--root-size) * 0.5); 
  }

  nav a:hover{
    opacity: 50%;
  }
  
  /* TITLE */
  header{
	color: var(--main-dark-color);
  }

  /* Redesigning */
#title-redesigning {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 2);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
}

.folded-paper-container {
    background: var(--magenta-color);
    display: block;
    position: relative;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 20px;
    width: 350px;
    height: 150px;
    transform-origin: center;
    transform: rotate(5deg); 
    z-index: 1;
    border: 3px solid var(--main-dark-color);
    justify-self: center; 
}

.folded-paper-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 50px 50px 0 0;
    border-style: solid;
    border-color: var(--yellow-color) var(--main-dark-color);
    border-radius: 10px 0 0 0px;
    z-index: -1; 
    transform: rotate(-90deg); /* top right corner */
}

/* Design */
#title-design {
    font-family: "Maragsa", serif;
    font-size: calc(var(--root-size) * 3);
    text-align: center;
    position: absolute;
    z-index: 4;
}

.three-ellipses-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
	  margin-top: -1rem;
}

.ellipses-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between; 
    width: 350px; 
	padding-left: 3rem;
}

.ellipse {
    width: 120px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--blue-color);
    position: relative; 
    z-index: 1;
}

.ellipse:nth-child(1) {
    left: 0; 
}

.ellipse:nth-child(2) {
    left: -30px; 
    z-index: 2;
}

.ellipse:nth-child(3) {
    left: -60px; 
    z-index: 3;
}

/* Decolonization */
.oval-container {
    display: flex;  
    width: 350px;          
    height: 130px;          
    border-radius: 100px;     
    background-color: var(--yellow-color); 
    align-items: center;    
    justify-content: center; 
    position: relative;
    z-index: 1;
    justify-self: center;   
    align-self: center;     
	transform-origin: center;
	/* transform: rotate(-5deg); */
	margin-top: -1rem;
}

#title-decolonization {
    margin: 0;             
    font-size: calc(var(--root-size) * 3);
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 0.5rem;
}

/* As */
.star-container {
	position: relative;
	transform: translateX(-50%);
	z-index: 5;
	justify-self: center;   
    align-self: center;     
	transform-origin: center;
	margin-left: 5rem;
	margin-top: -1rem;
  }
  
  .star8 {
	background:var(--orange-color);
	width: 80px;
	height: 80px;
	position: relative;
	transform-origin: center;
	transform: rotate(20deg); 
	border-radius: 10px;
  }
  
  .star8:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: var(--orange-color);
	transform-origin: center;
	transform: rotate(45deg); 
	border-radius: 10px;
  }
  
  #title-as {
	position: absolute;
	z-index: 1; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	font-size: calc(var(--root-size) * 2);
	margin: 0; 
	font-family: "Major Mono Display", monospace;
	text-transform: uppercase;
  }

  /* Reckoning / Reclamation / Transformation */
  #title-changingtext {
	  font-family: "Maragsa", serif; 
	  font-size: calc(var(--root-size) * 2.7);
	  text-align: center;
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
  }
  
  @keyframes textChange {
	  0% {
		  content: "Reckoning";
	  }
	  33% {
		  content: "Reclamation";
	  }
	  66% {
		  content: "Transformation";
	  }
	  100% {
		  content: "Reckoning"; 
	  }
  }
  
  #title-changingtext::after {
	  content: "Reckoning"; 
	  animation: textChange 9s linear infinite;
  }
  
  .folded-paper-container-2 {
	  display: flex;
	  background: var(--green-color);
	  position: relative;
	  padding: 5px 15px;
	  border-radius: 20px;
	  width: 350px;
	  height: 150px;
	  transform-origin: center;
	  transform: rotate(-8deg); 
	  z-index: 1;
	  justify-self: center;
	  border-bottom: 3px solid var(--main-dark-color);
	  border-left: 3px solid var(--main-dark-color);
	  justify-content: center; 
	  align-items: center; 
	  margin-top: -2rem;
  }
  
  .folded-paper-container-2:before {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  border-width: 50px 50px 0 0;
	  border-style: solid;
	  border-color: var(--orange-color) var(--main-dark-color);
	  border-radius: 10px 0 0 0px;
  }
  
/* DESCRIPTION */
.description {
	display: flex;
	border-top: var(--border-style);
	border-bottom: var(--border-style);
	flex-direction: column;
}

 p {
	padding: 1rem;
	line-height: 1.7;
	font-size: calc(var(--root-size) * 0.9);
}

.description p:first-of-type {
	margin-top: 2rem;
}

.description p:last-of-type {
	margin-bottom: 2rem;
}

/* ARTICLE ONE */
.arrows.two {
	width: 95vw;
	padding-top: 10rem;
	border-left: var(--border-style);
	overflow: hidden;
	margin-left: auto;
}

.scrolling-arrows-2 {
    display: flex; 
    gap: 2rem; 
    font-size: calc(var(--root-size) * 4.5); 
    animation: scroll-arrows-2 5s linear infinite; 
	margin-bottom: -1rem;
}

.scrolling-arrows-2 span {
    white-space: nowrap; 
}

/* scroll animation */
@keyframes scroll-arrows-2 {
    0% {
		transform: translateX(0%); 
	}
	100% {
		transform: translateX(-35%); 
	}
}

/* Article 1: Number */
.empty-space {
	display: flex; 
	width: 100%;
	/* border-top: var(--border-style); */
	height: 0;
	justify-content: flex-start;
	border-bottom: var(--border-style);
}

.star-container-2 {
	/* position: absolute; */
	z-index: 5;
	margin-right: auto;
	margin-left: 1rem;
	margin-top: -4rem;
  }
  
  .star {
	background:var(--magenta-color);
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .star:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	background: var(--magenta-color);
	transform: rotate(45deg); 
	border-radius: 10px;
  }

  .number-title.one{
	font-family: "Major Mono Display", monospace;
	font-size: calc(var(--root-size) * 2.5);
    text-align: center;
    position: absolute;
    color: var(--main-dark-color);
  }

  /* Article 1: Title */

  .article-title {  
	display: flex;
	flex-direction: column;
  }

  .article1-stickynote {
	padding-top: 5rem;
	border-left: var(--border-style);
	width: 95vw;
	margin-left: auto;
  }

  #title-designthinking {
	font-weight: bold;
	position: absolute;
	color: var(--main-dark-color);
	font-size: calc(var(--root-size)*2.5);
	line-height: 1.1;
	margin-left: 1rem;
	margin-top: 1.5rem;
  }
  
  .folded-paper-container-3 {
	background: var(--yellow-color);
	display: block;
	position: relative;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 20px;
	width: 320px;
	height: 340px;
	transform-origin: center;
	transform: rotate(8deg); 
	z-index: 1;
	border: 3px solid var(--main-dark-color);
	justify-self: center; 
	/* margin-top: 1rem; */
	margin-right: 1rem;
  }
  
  .folded-paper-container-3:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 50px 50px 0 0;
	border-style: solid;
	border-color: var(--magenta-color) var(--main-dark-color);
	border-radius: 10px 0 0 0px;
	z-index: -1; 
	transform: rotate(-90deg); /* top right corner */
  }

  .readmore{
	border-top: var(--border-style);
	border-bottom: var(--border-style);
  }

  .article1-links {
	width: 95vw;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: var(--border-style);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--magenta-color);
}

.article1-links:hover{
  cursor: pointer;
  box-shadow: inset 700px 0 0 0 var(--magenta-color);
  color: var(--main-dark-color);
  font-weight: 700;
}
  

  .article1-links p {
	font-size: calc(var(--root-size)* 1.5);
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

  .article-info{
	height: auto;
	border-bottom: var(--border-style);
  }

/* Article 1: Description */
  .article1-description {
	width: 95vw;
	margin-left: auto;
	border-left: var(--border-style);
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

/* Article 2: Arrows */
  .arrows.one {
	width: 95vw;
	padding-top: 11rem;
	border-right: var(--border-style);
	overflow: hidden;
}

.scrolling-arrows {
    display: flex; 
    gap: 2rem; 
    font-size: calc(var(--root-size) * 4.5); 
    animation: scroll-arrows 5s linear infinite; 
}

.scrolling-arrows span {
    white-space: nowrap; 
}

/* scroll animation */
@keyframes scroll-arrows {
    0% {
		transform: translateX(-37%); 
	}
	100% {
		transform: translateX(0%); 
	}
}

/* Article 2: Number */
.diamond-container {
	width: 100px;          
	height: 100px;          
	border-radius: 10px;     
	background-color: var(--yellow-color); 
	display: flex;         
	align-items: center;    
	justify-content: center; 
	position: relative;
	z-index: 2;
	transform: rotate(-45deg);
	margin-left: auto;
	position: relative;
	margin-right: 2rem;
	margin-top: -4rem;
  }
  
  .number-title.two{
	margin: 0;             
	color: var(--main-dark-color);
	font-size: calc(var(--root-size) * 4);
	transform: rotate(45deg);
	font-family: "Maragsa", serif; 
	font-weight: 400;
	text-align: center;
  }

/* Article 2: Title */

  .article2-stickynote {
	padding-top: 5rem;
	border-right: var(--border-style);
	width: 95vw;
	margin-right: auto;
  }

   #title-helvetica {
	font-weight: bold;
	position: absolute;
	color: var(--main-dark-color);
	font-size: calc(var(--root-size)*2.5);
	line-height: 1.1;
	margin: 1rem;
  }
  
  .folded-paper-container-4 {
	background: var(--blue-color);
	display: block;
	position: relative;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 20px;
	width: 320px;
	height: 420px;
	transform-origin: center;
	transform: rotate(-7deg); 
	z-index: 1;
	border: 3px solid var(--main-dark-color);
	justify-self: center; 
	margin-top: 0.5rem;
  }
  
  .folded-paper-container-4:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 50px 50px 0 0;
	border-style: solid;
	border-color: var(--orange-color) var(--main-dark-color);
	border-radius: 10px 0 0 0px;
	z-index: -1; 
	transform: rotate(-90deg); /* top right corner */
  }

  .article2-links {
	width: 95vw;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: var(--border-style);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--orange-color);
}

.article2-links:hover{
  cursor: pointer;
  box-shadow: inset 700px 0 0 0 var(--orange-color);
  color: var(--main-dark-color);
  font-weight: 700;
}
  

  .article2-links p {
	font-size: calc(var(--root-size)* 1.5);
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

  /* Article 2: Description */
  .article2-description {
	width: 95vw;
	margin-right: auto;
	border-right: var(--border-style);
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

  /* Article 3: Number */

 .number-title.three{
	font-size: calc(var(--root-size) * 3);
    font-family: "Pinyon Script", cursive;
	color: var(--main-dark-color);
	z-index: 4;
	position: absolute;
	padding-right: 0.5rem;
 }
  
  .three-ellipses-container-2{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center; 
	align-items: center; 
	width:230px;
	height: 100%; 
	margin-right: auto;
	padding-right: 5rem;
	margin-top: -2rem;
  }
  
  .ellipses-wrapper-2 {
	display: flex;
	position: relative;
	justify-content: space-between; 
	width: 170px; 
	height: 120px;
	top: 1rem;
	transform-origin: center;
	transform: rotate(90deg);
	/* margin-top: -1.5rem; */
  }
  
  .ellipse-2 {
	width: 60px;
	height: 120px;
	border-radius: 50%;
	background-color: var(--green-color);
	position: relative; 
	z-index: 1;
  
  }
  
  .ellipse-2:nth-child(1) {
	left: 0; 
  }
  
  .ellipse-2:nth-child(2) {
	left: -20px; 
	z-index: 2;
  }
  
  .ellipse-2:nth-child(3) {
	left: -40px; 
	z-index: 3;
  }

/* Article 3: Title */

#title-queer {
	font-weight: bold;
	position: absolute;
	color: var(--main-dark-color);
	font-size: calc(var(--root-size)*2.5);
	line-height: 1.1;
	width: 310px;
	padding-left: 0.3rem;
	padding-right: 1rem;
  }
  
  .folded-paper-container-5 {
	background: var(--magenta-color);
	display: flex;
	position: relative;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 20px;
	width: 345px;
	height: 380px;
	transform-origin: center;
	transform: rotate(3deg); 
	z-index: 1;
	border: 3px solid var(--main-dark-color);
	justify-self: center; 
	align-items: center;
	justify-content: center;
	margin-right: 0.7rem;
  }
  
  .folded-paper-container-5:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 50px 50px 0 0;
	border-style: solid;
	border-color: var(--green-color) var(--main-dark-color);
	border-radius: 10px 0 0 0px;
	z-index: -1; 
	transform: rotate(-90deg); /* top right corner */
  }

  .article3-links {
    width: 95vw;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: var(--border-style);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--green-color);
  }
  
  .article3-links:hover{
    cursor: pointer;
    box-shadow: inset 700px 0 0 0 var(--green-color);
    color: var(--main-dark-color);
    font-weight: 700;
  }
    
    .article3-links p {
      font-size: calc(var(--root-size)* 1.5);
      padding-top: 1rem;
      padding-bottom: 1rem;
      }
  

  p.article-descriptions.last{
	margin-bottom: 5rem;
  }
  
  /* FOOTER */

  footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	align-items: center; 
	text-align: center;
  }
  
  footer p {
	margin: 0;
	padding: 1rem; 
	position: relative; 
	font-size: calc(var(--root-size) * 0.5);
  }
  
  footer p::after {
	content: ""; 
	position: absolute; 
	top: 0;
	right: 0; 
	width: 2px;
	height: 100%; 
	border-right: var(--border-style);
  }
  
  footer p:last-child::after {
	display: none; 
  }
  

/* ========= DESKTOP ========= */

@media (min-width: 800px){

body {
  scroll-behavior: smooth;
}

.mobile-wrapper {
  display: none;
  scroll-behavior: smooth;
}
  
html {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.desktop-wrapper {
  display: flex; /* slides in a row */
  flex-direction: row;
  overflow-x: auto; /* horizontal scrolling */
  height: 100vh;
  overflow-y: hidden; 
}

.slide {
  height: 100vh;
  flex-basis: 100vw;
    flex-shrink: 0;
    position: relative;
    overflow-y: auto;
    margin-bottom: 0;
}

p {
  line-height: 1.5;
  font-size: calc(var(--root-size) * 0.9);
}

/* --------- TITLE --------- */

.slide.title {  
	display: grid;
	grid-template-columns: 20vw 60vw 20vw;
	grid-template-rows: 15vh 70vh 15vh;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "arrows empty nav"
	  "description header description2"
	  "footer empty2 arrows2";
	overflow-y: hidden;
  }

  /* ARROWS TOP LEFT*/
  .arrows {
    grid-area: arrows; 
	  border-bottom: var(--border-style);
	  border-right: var(--border-style);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    width: 100%; 
    height: 100%;
}

.scrolling-arrows {
    display: flex; 
    gap: 2rem; 
    font-size: calc(var(--root-size) * 5); 
    animation: scroll-arrows 15s linear infinite; 
}

.scrolling-arrows span {
    white-space: nowrap; 
}

/* Scroll animation */
@keyframes scroll-arrows {
    0% {
		transform: translateX(-20%); 
	}
	100% {
		transform: translateX(0%); 
	}
}

  /* EMPTY TOP */
  .empty { 
	grid-area: empty; 
	border-bottom: var(--border-style);
  }


  /* NAV TOP RIGHT */
  .desktop-nav {  
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "nav1"
	  "nav2"
	  "nav3";
	grid-area: nav;
	border-left: var(--border-style);
  text-align: left;
  border-bottom: none;
  align-items: center;
  
  }
  	.desktop-nav p {
		padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
		font-weight: 200;
	}

  .desktop-nav p::after{
    border-right: none;
  }

  .desktop-nav a{
    /* padding-top: 0.5rem; */
    font-size: calc(var(--root-size)/1.5);
  }
  
	.desktop-nav p:nth-child(1) {
		grid-area: nav1; 
		border-bottom: var(--border-style);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--magenta-color);
	}

  .desktop-nav p:nth-child(1):hover {
    box-shadow: inset 700px 0 0 0 var(--magenta-color);
    color: var(--main-dark-color);
    font-weight: 700;
  }

  .desktop-nav p:nth-child(2) {
		grid-area: nav2; 
		border-bottom: var(--border-style);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--orange-color);
	}
	
  .desktop-nav p:nth-child(2):hover {
    color: var(--main-dark-color);
    font-weight: 700;
    box-shadow: inset 700px 0 0 0 var(--orange-color);
  }

  .desktop-nav p:nth-child(3) {
		grid-area: nav3; 
		border-bottom: var(--border-style);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--green-color);
	}

  .desktop-nav p:nth-child(3):hover {
    color: var(--main-dark-color);
    font-weight: 700;
    box-shadow: inset 700px 0 0 0 var(--green-color);
  }

/* DESCRIPTION MIDDLE LEFT */
.desktop-description { 
	grid-area: description;
	border-right: var(--border-style);
 }

 .desktop-description p {
	margin: 1rem;
  /* original
	font-size: calc(var(--root-size) * 0.85); */
  font-size: calc(var(--root-size) * 0.6);
	margin-right: 0.5rem;
  /* hyphens: manual; */
  padding: 0;
 }
 
 /* MAIN TITLE */
.desktop-header { 
	grid-area: header; 
}

.desktop-shapes-container {
  justify-self: center;
  align-self: center;
  display: grid; 
  justify-items: center;
    grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "folded-paper-container"
    "three-ellipses-container"
    "oval-container"
    "star-container"
    "folded-paper-container-2"; 
margin-top: -5rem;
transform: scale(0.85);
}

h1 {
	color: var(--main-dark-color);
}


/* Redesigning */
#title-redesigning {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 3);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
}

.folded-paper-container {
    background: var(--magenta-color);
    display: block;
    position: relative;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 20px;
    width: calc(var(--root-size) * 30);
    height: calc(var(--root-size) * 10);
    transform-origin: center;
    transform: rotate(5deg); 
    z-index: 1;
    border: 3px solid var(--main-dark-color);
    justify-self: center; 
    bottom: 5rem;
}

.folded-paper-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 50px 50px 0 0;
    border-style: solid;
    border-color: var(--yellow-color) var(--main-dark-color);
    border-radius: 10px 0 0 0px;
    z-index: -1; 
    transform: rotate(-90deg); /* top right corner */
}

/* Design */
#title-redesigning {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 3);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
}

.folded-paper-container {
    background: var(--magenta-color);
    display: block;
    position: relative;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 20px;
    width: calc(var(--root-size) * 30);
    height: calc(var(--root-size) * 10);
    transform-origin: center;
    transform: rotate(5deg); 
    z-index: 1;
    border: 3px solid var(--main-dark-color);
    justify-self: center; 
    bottom: 3.5rem;
}

.folded-paper-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 50px 50px 0 0;
    border-style: solid;
    border-color: var(--yellow-color) var(--main-dark-color);
    border-radius: 10px 0 0 0px;
    z-index: -1; 
    transform: rotate(-90deg); /* top right corner */
}

/* Design */
#title-design {
    font-family: "Maragsa", serif;
    font-size: calc(var(--root-size) * 4);
    text-align: center;
    position: absolute;
    z-index: 4;
}

.three-ellipses-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
	bottom: 8rem;
}

.ellipses-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between; 
    width: 450px; 
	padding-left: 3rem;
}

.ellipse {
    width: 150px;
    height: 180px;
    border-radius: 50%;
    background-color: #7CC6FF;
    position: relative; 
    z-index: 1;
	
}

.ellipse:nth-child(1) {
    left: 0; 
}

.ellipse:nth-child(2) {
    left: -30px; 
    z-index: 2;
}

.ellipse:nth-child(3) {
    left: -60px; 
    z-index: 3;
}

/* Decolonization */
.oval-container {
    display: flex;  
    width: 600px;          
    height: 200px;          
    border-radius: 100px;     
    background-color: var(--yellow-color); 
    align-items: center;    
    justify-content: center; 
    position: relative;
    z-index: 1;
    justify-self: center;   
    align-self: center;     
	transform-origin: center;
	transform: rotate(-3deg);
	bottom: 12rem;
}

#title-decolonization {
    margin: 0;             
    font-size: calc(var(--root-size) * 5);
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 0.5rem;
}

/* As */
.star-container {
	position: relative;
	transform: translateX(-50%);
	z-index: 5;
	justify-self: center;   
    align-self: center;     
	transform-origin: center;
	bottom: 18rem;
	margin-left: 3rem;
  }
  
  .star8 {
	background:var(--orange-color);
	width: 90px;
	height: 90px;
	position: relative;
	transform-origin: center;
	transform: rotate(20deg); 
	border-radius: 10px;
  }
  
  .star8:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	background: var(--orange-color);
	transform-origin: center;
	transform: rotate(45deg); 
	border-radius: 10px;
  }
  
  #title-as {
	position: absolute;
	z-index: 1; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	font-size: calc(var(--root-size) * 2);
	margin: 0; 
	font-family: "Major Mono Display", monospace;
	text-transform: uppercase;
  }

  /* Reckoning / Reclamation / Transformation */
  #title-changingtext {
	  font-family: "Maragsa", serif; 
	  font-size: calc(var(--root-size) * 4);
	  text-align: center;
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	  margin-top: 4.5rem;
  }
  
  @keyframes textChange {
	  0% {
		  content: "Reckoning";
	  }
	  33% {
		  content: "Reclamation";
	  }
	  66% {
		  content: "Transformation";
	  }
	  100% {
		  content: "Reckoning"; 
	  }
  }
  
  #title-changingtext::after {
	  content: "Reckoning"; 
	  animation: textChange 9s linear infinite;
  }
  
  .folded-paper-container-2 {
	  background: var(--green-color);
	  position: relative;
	  display: block;
	  padding: 5px 15px;
	  border-radius: 20px;
	  width: calc(var(--root-size) * 30);
	  height: calc(var(--root-size) * 10.5);
	  transform-origin: center;
	  transform: rotate(-8deg); 
	  z-index: 1;
	  justify-self: center;
	  bottom: 25rem;
	  border-bottom: 3px solid var(--main-dark-color);
	  border-left: 3px solid var(--main-dark-color);
    margin-top: 0;
  }
  
  .folded-paper-container-2:before {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  border-width: 50px 50px 0 0;
	  border-style: solid;
	  border-color: var(--orange-color) var(--main-dark-color);
	  border-radius: 10px 0 0 0px;
	  /* transform: rotate(-90deg); */
  }
  


/* DESCRIPTION MIDDLE RIGHT */
  .description2 { 
	grid-area: description2; 
	border-left: var(--border-style);
	display: flex; 
    align-items: flex-end;
}

.description2 p {
	margin: 1rem;
	font-size: calc(var(--root-size) * 0.6);
	margin-right: 0.5rem;
  padding: 0;
 }

/* FOOTER BOTTOM LEFT */
footer {  
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "footer1"
	  "footer2"
	  "footer3";
	grid-area: footer;
	border-top: var(--border-style);
	border-right: var(--border-style);
  }

  footer p {
	padding: 0.5rem;
	font-weight: 200;
  font-size: calc(var(--root-size)* 0.7);
  text-align: left;
}

  footer p:nth-child(1) { 
	grid-area: footer1; 
	border-bottom: var(--border-style);
}
  
  footer p:nth-child(2) { 
	grid-area: footer2; 
	border-bottom: var(--border-style);
}
  
  footer p:nth-child(3) { 
	grid-area: footer3; 
}

footer p {
  position: static;
}
  

/* EMPTY BOTTOM */
  .empty2 { 
	grid-area: empty2; 
	border-top: var(--border-style);
}

/* ARROWS BOTTOM RIGHT */
.arrows2 {
    grid-area: arrows2; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    width: 100%; 
    height: 100%;
	border-top: var(--border-style);
	border-left: var(--border-style);
}


/* --------- ARTICLES INFO --------- */
.slide.articles-info {  
  display: grid;
  grid-template-columns: 45vw 10vw 45vw;
  grid-template-rows: 8vh auto auto auto 8vh;
  grid-auto-columns: 10vw;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "back-to-home back-to-home arrows3"
    "article1-info article1-info article1-title"
    "article2-title article2-info article2-info"
    "article3-info article3-info article3-title"
    "arrows4 arrows4 thanks-for-visiting";
}

.back-to-home { 
  grid-area: back-to-home; 
  border-bottom: var(--border-style);
  border-right: var(--border-style);
  /* border-left: var(--border-style); */
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: 300;
}

/* ARROWS TOP RIGHT */
.arrows3 { 
  grid-area: arrows3; 
  border-bottom: var(--border-style);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  width: 100%; 
  height: 100%;
}

.scrolling-arrows-2 {
  display: flex; 
  gap: 2rem; 
  font-size: calc(var(--root-size) * 4); 
  animation: scroll-arrows-2 15s linear infinite; 
}

.scrolling-arrows-2 span {
  white-space: nowrap; 
}

/* Scroll animation */
@keyframes scroll-arrows-2 {
  0% {
  transform: translateX(0%); 
}
100% {
  transform: translateX(-20%); 
}
}


.desktop-article1-info {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article1-number"
    "article1-description";
  grid-area: article1-info;
  /* border-left:var(--border-style); */
  border-right:var(--border-style);
}

.desktop-article1-number {
   grid-area: article1-number; 
   border-bottom: var(--border-style);
   /* border-right: var(--border-style); */
   /* border-left: var(--border-style); */
   justify-content: center; 
   display: flex;
}

/* 01 */
.desktop-star-container-2 {
	/* position: absolute; */
	z-index: 5;
  }
  
  .desktop-star {
	background:var(--magenta-color);
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .desktop-star:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	background: var(--magenta-color);
	transform: rotate(45deg); 
	border-radius: 10px;
  }

  .number-title.one {
    font-family: "Major Mono Display", monospace;
    font-size: calc(var(--root-size) * 3);
    text-align: center;
    position: absolute;
    color: var(--main-dark-color);
  }

  .star-container-2 h2 {
    margin-top: 0.25rem;
  }


.desktop-article1-description { 
  grid-area: article1-description; 
}

.desktop-article-descriptions {
  margin: 1rem;
  margin-top: 4rem;
  font-weight: 300;
  margin-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.desktop-article1-title {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 
  "article1-stickynote"
  "article1-links";
}

.desktop-article1-stickynote { 
  grid-area: 1 / 1 / 3 / 2; 
}

#title-designthinking {
  font-weight: bold;
  position: absolute;
  color: var(--main-dark-color);
  font-size: calc(var(--root-size)*2);
  line-height: 1.1;
  margin: 2rem;
}

.desktop-folded-paper-container-3 {
  background: var(--yellow-color);
  display: block;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 20px;
  width: calc(var(--root-size) * 15);
  height: calc(var(--root-size) * 16);
  transform-origin: center;
  transform: rotate(3deg); 
  z-index: 1;
  border: 3px solid var(--main-dark-color);
  justify-self: center;
  transition: transform 0.5s ease-in-out;
}

.desktop-folded-paper-container-3:hover{
  transform: scale(1.1) rotate(-3deg);
  cursor: pointer;
}

.desktop-folded-paper-container-3:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: var(--magenta-color) var(--main-dark-color);
  border-radius: 10px 0 0 0px;
  z-index: -1; 
  transform: rotate(-90deg); 
}

.desktop-article1-links {
  grid-area: 2 / 1 / 3 / 2; 
  border-top: var(--border-style);
  justify-content: center; 
  align-items: center;
  display: flex;
  font-weight: 300;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--magenta-color);
}

.desktop-article1-links:hover{
  cursor: pointer;
  box-shadow: inset 700px 0 0 0 var(--magenta-color);
  color: var(--main-dark-color);
  font-weight: 700;
}

/* 02 */
.desktop-article2-info {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article2-number"
    "article2-description";
  grid-area: article2-info;
  border-bottom: var(--border-style);
}

.desktop-article2-number { 
  grid-area: article2-number; 
  border-top: var(--border-style);
  justify-content: center; 
  display: flex;
}

.desktop-diamond-container {
	display: block;  
	width:90px;          
	height:90px;          
	border-radius: 10px;     
	background-color: var(--orange-color); 
	display: flex;         
	align-items: center;    
	justify-content: center; 
	z-index: 2;
	transform: rotate(-45deg);
  }

.desktop-diamond-container h2{
  transform: rotate(45deg);
  margin-right: 1rem;
}
  

.desktop-article2-description { 
  grid-area: article2-description; 
  border-top: var(--border-style);
}

.desktop-article2-title {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article2-stickynote"
    "article2-links";
  grid-area: article2-title;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  border-right: var(--border-style);

}

.desktop-article2-stickynote { 
  grid-area: article2-stickynote;
  /* border-bottom: var(--border-style); */
 }

 #title-helvetica {
  font-weight: bold;
  position: absolute;
  color: var(--main-dark-color);
  font-size: calc(var(--root-size)*2);
  line-height: 1.1;
  margin: 2rem;
}

.desktop-folded-paper-container-4 {
  background: var(--blue-color);
  display: block;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 20px;
  width: calc(var(--root-size) *16);
  height: calc(var(--root-size) * 20);
  transform-origin: center;
  transform: rotate(-3deg); 
  z-index: 1;
  border: 3px solid var(--main-dark-color);
  justify-self: center; 
  transition: transform 0.5s ease-in-out;
}

.desktop-folded-paper-container-4:hover{
  transform: scale(1.1) rotate(3deg);
  cursor: pointer;
}

.desktop-folded-paper-container-4:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: var(--orange-color) var(--main-dark-color);
  border-radius: 10px 0 0 0px;
  z-index: -1; 
  transform: rotate(-90deg); /* top right corner */
}

.desktop-article2-links {
  grid-area: 2 / 1 / 3 / 2; 
  border-top: var(--border-style);
  justify-content: center; 
  align-items: center;
  display: flex;
  font-weight: 300;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--orange-color);
}

.desktop-article2-links:hover{
  cursor: pointer;
  box-shadow: inset 700px 0 0 0 var(--orange-color);
  color: var(--main-dark-color);
  font-weight: 700;
}


 /* 03 */
.desktop-article3-info {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article3-number"
    "article3-description";
  grid-area: article3-info;
  /* border-left: var(--border-style); */
}

.desktop-article3-number { 
  grid-area: article3-number;
  border-bottom: var(--border-style);
  justify-content: center; 
  display: flex;
 }

 .desktop-three-ellipses-container-2 h2{
  z-index: 4;
  /* margin-top:1rem; */
  margin-right: 1.3rem;
  margin-top: 0.5rem;
 }

 .desktop-three-ellipses-container-2{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipses-wrapper-2 {
  display: flex;
  position: relative;
  justify-content: space-between; 
  width: 230px; 
  padding-left: 3.5rem;
  top: 1rem;
  transform-origin: center;
  transform: rotate(90deg);
  margin-top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-title.three{
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.ellipse-2 {
  width: 60px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--green-color);
  position: relative; 
  z-index: 1;

}

.ellipse-2:nth-child(1) {
  left: 0; 
}

.ellipse-2:nth-child(2) {
  left: -20px; 
  z-index: 2;
}

.ellipse-2:nth-child(3) {
  left: -40px; 
  z-index: 3;
}

.desktop-article3-title { 
   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article3-stickynote"
    "article3-links";
  grid-area: article3-title;
  border-left: var(--border-style);
  /* border-top: var(--border-style); */
}

.desktop-article3-stickynote { 
  grid-area: 1 / 1 / 3 / 2; 
  /* border: var(--border-style); */
}

#title-queer {
  font-weight: bold;
  position: absolute;
  color: var(--main-dark-color);
  font-size: calc(var(--root-size)*2);
  line-height: 1.1;
  margin: 2rem;
  padding: 0;
  width: auto;
}

.desktop-folded-paper-container-5 {
  background: var(--magenta-color);
  display: block;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 20px;
  width: calc(var(--root-size) * 17);
  height: calc(var(--root-size) * 16);
  transform-origin: center;
  transform: rotate(3deg); 
  z-index: 1;
  border: 3px solid var(--main-dark-color);
  justify-self: center; 
  /* margin-top: 1rem; */
  transition: transform 0.5s ease-in-out;
}

.desktop-folded-paper-container-5:hover{
  transform: scale(1.1) rotate(-3deg);
  cursor: pointer;
}

.desktop-folded-paper-container-5:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: var(--green-color) var(--main-dark-color);
  border-radius: 10px 0 0 0px;
  z-index: -1; 
  transform: rotate(-90deg); /* top right corner */
}


.desktop-article3-links {
  grid-area: 2 / 1 / 3 / 2; 
  border-top: var(--border-style);
  justify-content: center; 
  align-items: center;
  display: flex;
  font-weight: 300;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight .3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--green-color);
}

.desktop-article3-links:hover{
  cursor: pointer;
  box-shadow: inset 700px 0 0 0 var(--green-color);
  color: var(--main-dark-color);
  font-weight: 700;
}

.thanks-for-visiting { 
  grid-area: thanks-for-visiting; 
  border-left: var(--border-style);
  border-top: var(--border-style);
  display: flex;
  align-items: center;
  padding-right: 1rem;
  font-weight: 300;
  justify-content: right;
}

.arrows4 { 
  grid-area: arrows4; 
  /* border-left: var(--border-style); */
  border-top: var(--border-style);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  width: 100%; 
  height: 100%;
}

.scrolling-arrows-3 {
  display: flex; 
  gap: 2rem; 
  font-size: calc(var(--root-size) * 5); 
  animation: scroll-arrows-3 15s linear infinite; 
}

}


@media (min-width: 1024px) {

  .desktop-description p {
    margin: 1rem;
    font-size: calc(var(--root-size) * 0.85); 
  }

  .description2 p {
    margin: 1rem;
    font-size: calc(var(--root-size) * 0.85);
  }

  .desktop-folded-paper-container-3 {
    width: calc(var(--root-size) * 25);
    height: calc(var(--root-size) * 15);
  }

  #title-designthinking {
    font-size: calc(var(--root-size)*2.5);
  }

  #title-helvetica {
    font-size: calc(var(--root-size)*2.5);
  }
  
  .desktop-folded-paper-container-4 {
    width: calc(var(--root-size) *25);
    height: calc(var(--root-size) * 18);
  }

  #title-queer {
    font-size: calc(var(--root-size)*2.5);
  }
  
  .desktop-folded-paper-container-5 {
    width: calc(var(--root-size) * 25);
    height: calc(var(--root-size) * 18);
  }
}